In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import sklearn.model_selection
import sklearn.ensemble

In [3]:
file = 'C:/Users/Carter Carlson/Documents/Thinkful/Large Databases/No show dr appt.csv'
df = pd.read_csv(file)
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [5]:
df.groupby('Neighbourhood')['Neighbourhood'].count().sort_values()

Neighbourhood
PARQUE INDUSTRIAL                 1
ILHAS OCEÂNICAS DE TRINDADE       2
AEROPORTO                         8
ILHA DO FRADE                    10
ILHA DO BOI                      35
PONTAL DE CAMBURI                69
MORADA DE CAMBURI                96
NAZARETH                        135
SEGURANÇA DO LAR                145
UNIVERSITÁRIO                   152
HORTO                           175
SANTA HELENA                    178
ENSEADA DO SUÁ                  235
FRADINHOS                       258
ANTÔNIO HONÓRIO                 271
ARIOVALDO FAVALESSA             282
DE LOURDES                      305
COMDUSA                         310
BOA VISTA                       312
MÁRIO CYPRESTE                  371
DO MOSCOSO                      413
BARRO VERMELHO                  423
SANTA LUÍZA                     428
SANTA LÚCIA                     438
SANTA CECÍLIA                   448
PIEDADE                         452
SOLON BORGES                    469
SANTA CLARA                     506
ESTRELINHA                      538
SANTOS REIS                     547
                               ...
JOANA D´ARC                    1427
SÃO BENEDITO                   1439
REDENÇÃO                       1553
SÃO CRISTÓVÃO                  1836
ILHA DE SANTA MARIA            1885
FORTE SÃO JOÃO                 1889
MARUÍPE                        1902
BELA VISTA                     1907
SÃO JOSÉ                       1977
GURIGICA                       2018
ROMÃO                          2215
DA PENHA                       2217
ANDORINHAS                     2262
NOVA PALESTINA                 2264
ILHA DO PRÍNCIPE               2266
SÃO PEDRO                      2448
JABOUR                         2509
CARATOÍRA                      2565
SANTO ANDRÉ                    2571
SANTO ANTÔNIO                  2746
BONFIM                         2773
JESUS DE NAZARETH              2853
SANTA MARTHA                   3131
TABUAZEIRO                     3132
CENTRO                         3334
ITARARÉ                        3514
JARDIM DA PENHA                3877
RESISTÊNCIA                    4431
MARIA ORTIZ                    5805
JARDIM CAMBURI                 7717
Name: Neighbourhood, Length: 81, dtype: int64